<!DOCTYPE html>
<html>
<body>

<p><h2>Upload Post to Firebase</h2></p>

<form action="/addnewdata" method="POST" id="postform">
  <input type="text" name="title" placeholder="Enter Title here"><br><br>
  <input type="text" name="author" placeholder="Author of the Post"><br><br>
  <input type="text" name="category" placeholder="Category"><br><br>
  <input type="text" name="date" placeholder="date"><br><br>
  <input type="text" name="image" placeholder="image URL"><br><br>
  <input type="text" name="name" placeholder="title of blog without space"><br><br>
  <input type="text" name="preview" placeholder="preview of the blog"><br><br>
  <input type="text" name="tags" placeholder="tags for the blog"><br><br>
  <textarea name="content" form="postform" rows="10" cols="50">Enter the Post here formatted in html...</textarea><br><br>

  <input type="submit" value="Submit">
</form>

</body>
</html>